configuration {
    modi: "window,drun,run,ssh,combi";
    font: "JetBrainsMono Nerd Font 16";
    show-icons: true;
}
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
@theme "/usr/share/rofi/themes/android_notification.rasi"

element-icon {
	size: 2.50ch;
}
